label {
  margin-bottom: 5px;
}

.textFormField {
  background: rgba($gull-gray, 0.05);
  border: none;
  border-bottom: 1px solid $nevada;
  color: $loblolly;
  display: block;
  font-size: 17px;
  padding: 16px;
  width: 100%;

  &:focus {
    border-color: $white;
    outline: none;
  }
}