@import '../../styles/colors.scss';

.input-floating-wrapper {
  margin-bottom: 26px;
  position: relative;
  margin-top: 30px;

  input {
    background: rgba($gull-gray, 0.05);
    border: none;
    border-bottom: 1px solid $nevada;
    color: $loblolly;
    font-size: 17px;
    height: 54px;
    padding-left: 15px;
    width: 325px;

    &:focus {
      border-color: $white;
      outline: none;
    }

    &:placeholder-shown + label {
      font-size: 17px;
      color: $loblolly;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      color: $nevada;
      font-size: 13px;
      transform: translate3d(-15px, -45px, 0);
    }
  }

  label {
    bottom: 14px;
    color: $loblolly;
    font-size: 17px;
    left: 15px;
    margin-bottom: 3px;
    position: absolute;
    transition: 0.2s;
  }
}
