.home {
  grid-area: main;
  margin: 0 25px;

  &.sectionName {
    color: $white;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 35px;
    margin-top: 30px;
    text-transform: uppercase;
  }

  &.btnWrapper {
    margin: 40px 0;
    max-width: 325px;
  }
}
