.inputRadio {
  flex: 1;

  label {
    border: 1px solid $nevada;
    border-radius: 6px;
    font-size: 15px;
    color: $loblolly;
    text-align: center;
    padding: 10px 5px;
    display: block;
  }

  input {
    display: none;

    &:checked + label {
      border-color: $thunderbird;
      background-color: rgba($thunderbird, 0.1);
    }
  }

  & + .inputRadio {
    margin-left: 9px;
  }
}
