@import '../../styles/colors.scss';

.home {
  grid-area: main;
  &.section-name {
    color: $white;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 35px;
  }

  &.btn-wrapper {
    margin: 40px 0;
    max-width: 325px;
  }
}
