@import '../../styles/colors.scss';

.select-container label {
  margin-bottom: 3px;
}

.select-wrapper {
  flex: 1;
  margin-bottom: 25px;

  .select-input {
    margin-top: 3px;
  }

  & + .select-wrapper {
    margin-left: 15px;
  }
}

.select-input {
  background: rgba($gull-gray, 0.05);
  border: none;
  border-bottom: 1px solid $nevada;
  border-radius: 0;
  color: $loblolly;
  display: block;
  font-size: 17px;
  height: 54px;
  line-height: 54px;
  padding-left: 15px;
  width: 100%;

  &:focus {
    outline: none;
  }
}
