.sectionName {
  color: $white;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

.personalInformationForm {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.btnWrapper {
  margin: 40px 0;
}

.selectContainer {
  display: flex;
}

.inputRadioContainer {
  margin-bottom: 25px;

  & > label {
    color: $nevada;
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
  }
}

.inputRadioWrapper {
  display: flex;
}
