* {
  box-sizing: border-box;
}

body {
  background-color: $woodsmoke;
  color: $nevada;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 25px auto 25px;
  grid-template-rows: auto;
  grid-template-areas:
      "headerLeft header headerRight"
      "mainLeft main mainRight"
      "footerLeft footer footerRight";
}

:global {
  .container {
    display: flex;
    flex-direction: column;
    grid-area: main;
  }

  .navigation {
    display: grid;
    grid-row-gap: 4px;
    justify-items: center;
  }

  // TODO: temporary styles until all views will be styled with design
  .link {
    color: #fff;
    padding: 5px;
    text-align: center;
    text-decoration: none;
  }
}

// global
@import '../../styles/global/buttons';
