.registerForm {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 325px;
}

.btnWrapper {
  margin-bottom: 40px;
}

.inputRadioContainer {
  margin-bottom: 25px;

  & > label {
    color: $nevada;
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
  }

  & > label + div {
    display: flex;
  }
}
