.btn-primary {
  background: $thunderbird;
  border: 2px solid $thunderbird;
  border-radius: 4px;
  color: $white;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 700;
  padding: 16px 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:hover, &:active {
    background-color: transparent;
    color: $thunderbird;
  }
}