input[type="date" i] {
  font-family: 'Roboto', sans-serif;
}

label {
  color: $nevada;
  display: block;
  font-size: 13px;
}

.input-radio-wrapper {
  display: flex;
}

.input-radio-container {
  margin-bottom: 25px;

  & > label {
    display: block;
    margin-bottom: 10px;
  }
}

.input-wrapper {
  margin-bottom: 26px;

  .input {
    background: rgba($gull-gray, 0.05);
    width: 325px;
    height: 54px;
    border: none;
    border-bottom: 1px solid $nevada;
    font-size: 17px;
    color: $loblolly;
    padding-left: 15px;

    &:focus {
      border-color: $white;
      outline: none;
    }

    &:focus + .label {
      transform: translate3d(-15px, -45px, 0);
      font-size: 13px;
      color: $nevada;
    }
  }

  label:not(.input-radio) {
    margin-bottom: 3px;
  }
}

.input-text {
  background: rgba($gull-gray, 0.05);
  border: none;
  border-bottom: 1px solid $nevada;
  color: $loblolly;
  display: block;
  font-size: 17px;
  padding: 16px;
  width: 100%;

  &:focus {
    outline: none;
    border-color: $white;
  }
}
