@import '../../styles/colors.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $woodsmoke;
  color: $nevada;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 25px auto 25px;
  grid-template-rows: auto;
  grid-template-areas: "headerLeft header headerRight" "mainLeft main mainRight" "footerLeft footer footerRight";
}

.container {
  display: flex;
  grid-area: main;
  flex-direction: column;
}

.container .logo {
  background-image: url("../../images/hott-coffe.png");
  background-repeat: no-repeat;
  width: 220px;
  height: 220px;
  align-self: center;
  margin-bottom: 40px;
}

.navigation {
  display: grid;
  grid-row-gap: 4px;
  justify-items: center;
}

.link {
  display: grid;

  a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 4px;
  }

  &:hover {
    opacity: 0.8;
  }
}

@import '../../styles/forms.scss';
@import '../../styles/buttons.scss';
