.select-container label {
  margin-bottom: 3px;
}

.selectWrapper {
  flex: 1;
  margin-bottom: 25px;

  & + .selectWrapper {
    margin-left: 15px;
  }

  .selectInput {
    background: rgba($gull-gray, 0.05);
    border: none;
    border-bottom: 1px solid $nevada;
    border-radius: 0;
    color: $loblolly;
    display: block;
    font-size: 17px;
    height: 54px;
    line-height: 54px;
    margin-top: 3px;
    padding-left: 15px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
